.body{
  position: relative;
  height: 100vh;
  display: ;
  align-items: center;
  justify-content: center;
}

.head{
  text-align:center;
  color:#ffae00;
  font-size:8ex;
}


.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffae00;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.head2{
  color:yellow;
  font-size:5ex;
}
.but{
  position:center;
  text-align:center;
  font-size:1.9ex;
  height:7ex;
  width:20ex;
  background:none;
  color:#ffae00;
  border-color:#ffae00;
}
.but:hover{
  color:white;
  background:#ffae00;
  font-size:2ex;
}

.body2{
  position:center;
  text-align:center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}











































